<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="yj.zljjc.dao.AccountMapper" >
	
	<sql id="baseColumnList">
		ACCOUNT_ID as accountId,
		NAME as name
	</sql>
	
	<insert id="insert" parameterType="yj.zljjc.entity.Account">
		INSERT INTO ACCOUNT(
			ACCOUNT_ID,
			NAME
		)VALUES(
			#{accountId},
			#{name}
		)
	</insert>
	
	<update id="update" parameterType="yj.zljjc.entity.Account">
		UPDATE ACCOUNT
		<set>
			NAME = #{name}
		</set>
		WHERE ACCOUNT_ID = #{accountId}
	</update>
	
	<delete id="deleteByAccountId">
		DELETE FROM ACCOUNT WHERE ACCOUNT_ID = #{accountId}
	</delete>
	
	<select id="findByAccountId" resultType="yj.zljjc.entity.Account">
		SELECT <include refid="baseColumnList" />
		FROM ACCOUNT
		WHERE ACCOUNT_ID = #{accountId}
	</select>
	
</mapper>
